/* Estilo geral do corpo */
/* Estilo geral do corpo */
html , body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right bottom, #302f2f, #222222);
    color: #FFFFFF;
    width: 100%;
    overflow-x: hidden; /* Evita deslocamento lateral desnecessário */
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-left: 15px;
}

.logo-img {
    height: 70px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #C4C4C4;
    font-weight: bold;
    font-size: 25px;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #FFFFFF;
    background-color: #3f3e3e;
    transform: scale(1.1);
}

/* Botões de Login e Cadastro */
.buttons {
    display: flex;
    gap: 15px;
}

.cadastro, .login {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.cadastro {
    background: none;
    border: 1px solid #60BBEE;
    color: #60BBEE;
}

.login {
    background: linear-gradient(to bottom, #60BBEE, #0A72AD);
    color: white;
}

/* Container principal */
.container {
    padding: 50px 20px;
}

.text-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.text-content h1 {
    font-size: 52px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.text-content p {
    font-size: 22px;
    margin-top: 10%;
}


.btn-saiba-mais:hover {
    opacity: 0.9;
}

.viagem-img {
    max-width: 500px;
    height: auto;
    margin-left: 20%;
}

/* Caixa de informação inferior */
/* Estilo do container geral */
.container {
    display: flex;
    justify-content: space-between; /* Distribui os elementos nas extremidades */
    align-items: center; /* Alinha verticalmente os elementos */
    width: 100%; /* Define a largura do container */
    margin: 0 auto; /* Centraliza o container na página */
    padding: 0px 0;
}

/* Estilo do botão */
.btn-saiba-mais {
    background: linear-gradient(to bottom, #60BBEE, #0A72AD);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 0px;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 90px;
    margin-left: 5%;
    height: 20px;
    width: 110px;
    padding-top: 17px;
}

/* Estilo do box de informações */
.info-box {
    background: linear-gradient(to right, #60BBEE, #0A72AD);
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial, sans-serif;
    width: 60%; /* Ajuste conforme necessário */
    height: 140px;
    display: flex;
}

/* Estilização do texto */
.info-box h3 {
    margin-left: 25px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 35px;
    text-align: center;
}

.info-box p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5; /* Dá espaçamento entre linhas do texto */
    padding-top: 48px;
    padding-left: 10%;
}

/* Responsividade */


/* 480px */
@media (max-width: 480px) {

    .logo-img {
        height: 20px;
    }

    .viagem-img {
        max-width: 200px;
        height: auto;
        margin-left: 0%;
    }
    

    .text-content h1 {
        font-size: 16px;
    }

    .text-content p {
        font-size: 6px;
        margin-top: 10%;
    }

    .btn-saiba-mais {
        font-size: 8px;
        padding: 0;
        width: 50px;
        height: 25px;
        text-align: center;
        padding-top: 8px;
    }

    .info-box {
        font-family: Arial, sans-serif;
        width: 60%; 
        height: 100px;
        display: flex;
    }

    .info-box h3 {
        font-size: 10px;
    }

    .info-box p{
        font-size: 6px;
    }

    nav ul li a {
        font-size: 7px;
        padding: 0px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .cadastro {
        font-size: 7px;
        padding: 0;
        height: 20px;
        width: 48px;
        text-align: center;
        padding-top: 4px
    }
    
    .login {
        font-size: 7px;
        margin-left: 8%;
        padding: 0;
        height: 20px;
        width: 45px;
        text-align: center;
        padding-top: 4px
    }
}

/* 768px */
@media (max-width: 769px) {

    .logo-img {
        height: 35px;
    }

    .viagem-img {
        max-width: 300px;
        height: auto;
        margin-left: 0%;
    }
    

    .text-content h1 {
        font-size: 30px;
    }

    .text-content p {
        font-size: 12px;
        margin-top: 10%;
    }

    .btn-saiba-mais {
        font-size: 16px;
        width: 80px;
    }

    .info-box {
        width: 60%; 
        height: 110px;
        display: flex;
    }

    .info-box h3 {
        font-size: 15px;
    }

    .info-box p{
        font-size: 10px;
    }

    nav ul li a {
        font-size: 12px;
        padding: 6px;
        border-radius: 10px;
    }

    .cadastro {
        font-size: 10px;
        width: 78px;
    }
    
    .login {
        font-size: 10px;
        margin-left: 10%;
    }
}


/* 1024px */
@media (max-width: 1024px)  {

    .logo-img {
        height: 50px;
    }

    .viagem-img {
        max-width: 400px;
        height: auto;
        margin-left: 0%;
    }
    

    .text-content h1 {
        font-size: 47px;
    }

    .text-content p {
        font-size: 19px;
        margin-top: 10%;
    }

    .btn-saiba-mais {
        font-size: 20px;
        width: 130px;
    }

    .info-box {
        width: 60%; 
        height: 140px;
        display: flex;
    }

    .info-box h3 {
        font-size: 18px;
    }

    .info-box p{
        font-size: 14px;
    }

    nav ul li a {
        text-decoration: none;
        color: #C4C4C4;
        font-size: 18px;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .cadastro {
        font-size: 15px;
        width: 140px;
    }
    
    .login {

        font-size: 15px;
        margin-left: 15%;
    }
}


