[33mcommit 9d9a9fb96088160f55e0a9fcd1c501e3262bb236[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mSeis[m[33m, [m[1;31morigin/Seis[m[33m)[m
Author: Elaine Soares <131168713+elasoares@users.noreply.github.com>
Date:   Thu Nov 28 18:18:34 2024 -0300

    Puxando atlterações feitas pelo Gabriel

[33mcommit 8e4d505a7aa189fc96b30a320b88c255e0c71aba[m
Author: Elaine Soares <131168713+elasoares@users.noreply.github.com>
Date:   Mon Nov 25 19:08:28 2024 -0300

    Enviando atualização

[33mcommit 5af55be6205776dde015ee564b4bfd93c0e5ac51[m
Author: Elaine Soares <131168713+elasoares@users.noreply.github.com>
Date:   Mon Nov 25 18:24:28 2024 -0300

    Puxando atualização remota

[33mcommit a1cd61c79f1915b071090f824e74d69c78fc5215[m
Author: Gabriel Sant´ Anna <gabrielsantanna2711@gmail.comgit config --global user.name gabrielsantannna>
Date:   Sat Nov 23 17:17:22 2024 -0300

    cursor pointer

[33mcommit 31e93a9b979ab44648b5d3ae81151299849a6bb1[m
Author: Gabriel Sant´ Anna <gabrielsantanna2711@gmail.comgit config --global user.name gabrielsantannna>
Date:   Sat Nov 23 09:44:13 2024 -0300

    Adicionar formulário de contato ao projeto

[33mcommit 2aaa7e9baa6505bd83d21ac9fe8cf57bcc5f849c[m
Author: Gabriel Sant´ Anna <gabrielsantanna2711@gmail.comgit config --global user.name gabrielsantannna>
Date:   Thu Nov 21 00:06:03 2024 -0300

    inicio da parte seis
