/* ----- Quinto Branche: Karla -----*/
*{
    margin: 0px;
    font-family: 'Poppins';
}
body {
    background-color: #f6f6f6;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1444px;
    margin:0px auto;
    align-items: center;
    justify-content: space-around;
}

#wrapper {
    flex:1 100%;
    margin: 0px auto;
    padding:0%;
}

.header {
    flex:1;
    margin-top:3%;
}

h1 {
    text-align: center;
    font-size: 1.65em;
}

.title h2 {
    text-align: center;
}

#lojas-parceiras {
    display: flex;
    width:auto;
    margin-left: 25%;
    margin-top:3%;
    margin-bottom: 5%;
}

#lojas-parceiras div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width:auto;
}

.parceiro {
    min-width: 120%;
    border-radius:8px;
}

.search-bar {
    flex:1;
    width: 100%;
    margin-top:2%;
    margin-bottom: 2%;
}

.search-bar input {
    flex: 1;
    margin-left: 25%;
    width: 45%;
    height: 35px;
    border-radius: 25px;
    border: solid 1px #298cc5;
    text-indent: 2%;
}

#carrosel {
    flex: 1;
}

#div-cards {
    display: flex;
    margin-top:6%;
    margin-left:5%;
    
}

#cards-container {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {    
    max-width: 65%;
    border-radius:8px;
    margin-left:18%;
}

.card:hover, .parceiro:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    cursor: pointer;
}

.seta-container {
    width: 50px;
    padding: 1%;
    justify-content: center;
    display: flex;    
}
.seta-container .seta {
    align-self:center;
    cursor: pointer;
    border-radius: 48px;
    width: 50px;
    height: 50px;
    border: solid 1px #c4c4c4;
    flex-shrink: 2;
}
/* #seta-esquerda {
    float:left;
    margin-left: -50%;
}

#seta-direita {
    float:right;
    margin-right: -50%;
} */

.seta-container .seta i {
    font-size: 0.8em;
}

.seta:hover{
    transform: translateY(-7px);
    transition: 0.5s;
    background-color: #298cc5;
    color: #fff;
}

#paginator {
    width: auto;
    height: 32px;
    margin-top:2%;
    display:flex;
    margin-left:45%;
}

.pagina {
    text-decoration: none;
    width: 4px;
    height: 4px;
    padding: 0.5%;
    margin:1%;
    background-color: #c4c4c4;
    border-radius: 20px;
    cursor: pointer;
}
.selected {
    background-color: #298cc5;
}

@media screen and (max-width:680px){

    h1 {
        font-size: 1.45em;
    }

    h2 {
        font-size: 1.25em;
    }


    #div-cards {        
        width: 90%;
        margin-top:5%;
    }
    
    #cards-container {
        width: 100%;        
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        align-items: center;
        max-width: 65%;
        margin-left:18%;
    }

    #lojas-parceiras div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        width:auto;
    }    

    .search-bar {
        margin-top:8%;
        margin-left:-14%;
        margin-bottom:8%;
    }
    .search-bar input {
        width: 70%;
    }
    .d-none {
        display:none !important;
    }
    
}
