html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*=============== Seção 1: Introdução ===============*/
/* Configurando o menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem 0 0;
}

.logo-img {
    height: 70px;
}

/* Navegação principal */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #FFFFFF;
    background-color: #3f3e3e;
    transform: scale(1.1);
}

/* Ajustes para itens de Login e Cadastro */
nav ul li.login, 
nav ul li.cadastro {
    list-style: none;
}

nav ul li.login a {
    background: linear-gradient(to bottom, #60BBEE, #0A72AD);
    color: white;
    text-align: center;
}

nav ul li.cadastro a {
    border: 1px solid #60BBEE;
    color: #60BBEE;
    text-align: center;
    background: none;
}

/* Hover para Login e Cadastro */
nav ul li.login a:hover,
nav ul li.cadastro a:hover {
    color: #FFFFFF;
    background: linear-gradient(to bottom, #60BBEE, #0A72AD);
    transform: scale(1.1);
}

/* Botões de Login e Cadastro */
.buttons {
    display: flex;
    gap: 15px;
}

.buttons.hidden {
    display: none;
}

/* Conteúdo principal */
#intro-section {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 54px;
    padding-left: 10rem;
    background-image: url('img/img-background-paisagem-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;

    /* Escurecendo a imagem */
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de transparência */
    background-blend-mode: darken; /* Combina a cor com a imagem */
}

.text-and-image {
    justify-content: center;
    align-items: left;
}

.text-content {
    max-width: 1000px;
    text-align: left;

    & > h1 {
        font-size: 64px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-align: left;
    }

    & > p {
        font-size: 18px;
    }    
}

/* Caixa de informação inferior */
.info-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.btn-saiba-mais {
    background: linear-gradient(to bottom, #60BBEE, #0A72AD);
    color: white;
    padding: 15px 25px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 90px;
    border-radius: 10px;
    padding-top: 17px;
}

.btn-saiba-mais:hover {
    opacity: 0.9;
}

/* Estilo do box de informações */
.info-box {
    display: flex;
    background: linear-gradient(to right, #60BBEE, #0A72AD);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    height: auto;
    border-radius: 10px;
    gap: 1rem;

    &>h3 {
        margin-left: 25px;
        font-size: 24px;
        text-align: center;
        align-self: center;
    }

    &>p {
        font-size: 16px;
        text-align: left;
        align-content: center;
        max-width: 500px;
    }
}

/*=============== Seção 2: O que é o Partnership? ===============*/
#partnership-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 2rem;
    background-color: #FFFFFF;
    width: 100%;
    gap: 30px;
}

#partnership-section .content {
    margin-top: 130px;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
}

#partnership-section .content h2 {
    font-size: 2rem;
    color: #333;
    margin: 0;
    text-align: left;
    margin-bottom: 26px;
}

#partnership-section .content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    /* text-align: justify; Deixa o texto justificado */ 
    max-width: 800px; /* Acrescentei espaço entre o texto e a imagem */
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 98px;
}

.cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #0A72AD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button-parceiros {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    color: #0A72AD;
    text-decoration: none;
    border: solid 1px #0A72AD;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.cta-button-parceiros:hover{
    background-color: #0056b3;
    color: #FFFFFF;
}

#partnership-section .image {
    max-width: 50%;
}

#partnership-section .img-partnership-setion {
    width: 100%;
}

/*----- Responsividade -----*/
@media(max-width: 1285px){
    #partnership-section {
        padding: 0rem;   
    }

    #partnership-section .content { 
        margin-left: 0px;
        margin-top: 30px;
        /* border: 2px solid red;  */
        justify-content: center;
        align-items: center;
    }

    .buttons {
        margin-top: 50px;
    }
  
}

@media(max-width: 968px) {
    #partnership-section .content {
        width: 60%;
        
    }

    #partnership-section .image {
        max-width: 60%;
    }
}

@media(max-width: 883px) {
    #partnership-section .content {
        width: 70%;
        
    }

    #partnership-section .image {
        max-width: 70%;
    }
}

@media(max-width: 757px) {
    #partnership-section .content {
        width: 80%;
        
    }

    #partnership-section .image {
        max-width: 80%;
    }
}

@media(max-width: 663px) {
    #partnership-section .content {
        width: 90%;
        
    }

    #partnership-section .image {
        max-width: 90%;
    }
}

@media(max-width: 537px) {
    .buttons {
        margin-top: 30px;
        flex-flow: column;
    }

     .cta-button {
        display: flex;
        justify-content: center;
    }

    .cta-button-parceiros {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 434px) {
    #partnership-section .content h2 {
        text-align: center;
    }
}

/*=============== Seção 3: Como Funciona? ===============*/
#como-funciona {
    box-sizing: border-box;
    background-color: #F6F6F6;
    width: 100%;
    padding: 1rem 2rem 5rem 2rem;
}

/* Header */
.como-funciona-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 69px;
    position: relative;
    height: 100px;
}

.como-funciona-header h2 {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu img {
    width: 130px;
    height: auto;
}

/* Steps */
.background-caminho {
    scale: 0.85;
    position: absolute;
    margin: 165px 374px 345px 180px;
}

.steps {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.step-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.step-row.reverse {
    flex-direction: row-reverse;
}

.step-row .text {
    flex: 1;
    padding: 1rem;
}

.step-row .image {
    flex: 1;
    text-align: center;
}

.step-row img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.step-row:nth-child(4) .image img {
    transform: scale(1.5);
}

/* Círculo com número e título alinhado */
.step-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 40px;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #230B34;
    color: #F8F8FA;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
}

.step-header h2 {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    color: #2387C0;
    margin: 0;
}

.step-row p {
    font-size: 1rem;
    color: #555;
}

/*----- Responsividade -----*/
@media (max-width: 768px) {
    .step-row {
      flex-direction: column;
      text-align: center;
    }
  
    .step-row.reverse {
      flex-direction: column;
    }
  
    .step-header {
      justify-content: center;
    }
  
    .header {
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .header h1 {
      position: static;
      transform: none;
      margin-top: 0.5rem;
    }
  
    .background-caminho {
      display: none; /* Ocultar a linha pontilhada de caminho */
    }
  }
  
  @media (max-width: 1024px) {
    .background-caminho {
      scale: 0.78;
      margin: 185px 374px 345px 110px;
    }  
  }

/*=============== Seção 4: Experiências ===============*/
#experiencias{
    font-family: "Poppins", sans-serif;
    background: #FFFFFF;
    padding-inline: 15px;
    padding-bottom: 80px;
}

.experiencias-container-texto {
    font-size: 24px;
    color: #777777;
    max-width: 1000px;
    padding-block: 80px;
    padding-left: 40px;

    & > h2 {
        font-size: 40px;
        margin-bottom: 12px;
        color: #000;
    }
}

.experiencias-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.card1{
    width: 315px;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0 0 ;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card1:hover{
    box-shadow: 10px 10px 30px gray;
    transform: translateY(-10px) !important;
}

.card1 .img{
    width: 100%;
}

.card-header{
    text-align: center;

    & > h3 {
        font-size: 24px;
        color: #0B132A;
    }

    & > p {
        font-size: 16px;
        height: 25px;
        margin-bottom: 8px;
        color: #0B132A;
    }
}

.card1 .ul{
    padding-inline: 35px;

    & > p{
        font-size: 14px;
        margin-left: -20px;
        color: #0B132A;
    }
}

.card1 .ul li{
    font-size: 16px;
    color: #505050;
}

/*=============== Seção 5: Parceiros ===============*/
#parceiros {
    background-color: #F6F6F6;
    padding-block: 80px;
    padding-left: 40px;
}

#wrapper {
    float:left;
    width: 100%;
    height: auto;
}

.header-parceiros {
    text-align: left;
    align-items: left;

    & > h2 {
        font-size: 40px;
        margin-bottom: 12px;
        max-width: 1000px;
        color: #000;
    }
}

.title {
    color: #000;
}

#carrossel {
    float:left;
    width: 100%;
}

#line {
    margin-top:1%;
    height: 5px;
    width: 50%;
    background-color: #298cc5;
}
.search-bar {
    float:left;
    margin: 2% 0%;
    width: 100%;
}

.search-bar input {
    padding: 1%;
    float:left;
    width: 43%;
    margin-left:9%;
    border: 1px solid #298cc5;
    height: 15px;
    border-radius: 50px;
    text-indent: 15px;
}
.search-bar input:active {
    border-color:#298cc5;
}

.search-bar input:focus-visible {
    border: solid 1px #298cc5;
}
.d-none {
    display: none;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

#cards-container {
    float:left;
    margin:20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    width: 100%;
}

.card {
    display:flex;
    height: 186px;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    cursor: pointer;
}

#seta-esquerda{
    display: block ;
}

.seta{
    float:left;
    margin-top: 85%;
    cursor: pointer;
    border-radius: 48px;
    width: 45px;
    height: 45px;
    border: solid 1px #c4c4c4
}

.seta:hover {
    background-color: #60ddee;
}

.seta:hover i {
    font-weight: bold;
    color: #fff;
}

.seta #seta-esquerda {
    margin-left:50%;
}
.seta #seta-direita {
    margin-left:10%;
}

.seta i {
    margin:45% 35%;
    font-size: 10px
}

.seta:hover{
    transform: translateY(-7px);
    transition: 0.5s;
}

/*=============== Seção 6: Entre em contato ===============*/
a {
    color: white;
    text-decoration: none;
}

#container-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#titulo-contatos {
    font-size: 24px;
    color: #0775B4;
}

#texto-contatos {
    font-size: 14px;
    color: #222222;
}

#link, #insta, #face {
    width: 45px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
/*     background-color: #F5F5FF; */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#link:hover {
    background-color: #0a66c24f; 
    width: 55px;
    height: 55px;
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(10, 102, 194, 0.3);
}

#insta:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); 
    width: 55px;
    height: 55px;
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(220, 39, 67, 0.3);
}

#face:hover {
    background-color: #1876f231; 
    width: 55px;
    height: 55px;
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(24, 119, 242, 0.3);
}

input {
    width: 430px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: #F5F5FF;
    color: #333;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #399FD8;
    box-shadow: 0 0 8px rgba(57, 159, 216, 0.4);
    outline: none;
    background-color: #ffffff;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

input:hover {
    border-color: #0775B4;
}

#box-text{
    width: 430px;
    height: 150px;    
}

#button {
    width: 430px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background: linear-gradient(90deg, #0775B4, #055a94);
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

#button:hover {
    background: linear-gradient(90deg, #399FD8, #0775B4);
    color: white;
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 8px 12px rgba(57, 159, 216, 0.4);
}

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("img/fundo-formulario.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.caixa-formulario{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 51px 48px;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
}

.container-form-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.container-imagem-doLado-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    width: 100%;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/*=============== Rodapé ===============*/
#fundo-roda-pe {
    background-color: #222222;
    padding-bottom: 50px;
    width: 100%;
    flex-wrap: wrap;
    bottom: 0;
}

.container-footer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:50px;
    width: 100%;
}

#partner{
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#container-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}

.header-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#partner p{
    color: white;
    font-size: 20px;
}

#container-links-footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 80px;
}

#link-footer {
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

#redes {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}


/*=============== Responsividade ===============*/

/* O código abaixo influencia na Seção 6, por isso não foi excluído desse arquivo. */
@media (min-width: 1500px) {
    #fundo-roda-pe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .container-footer{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0;
        margin: 0;
        padding: 0;
        width: 90%;
    }

    
    #partner{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        width: 50%;
    }

    #partner p{
        color: white;
        font-size: 20px;
    }

    #container-links-footer{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        gap: 100px;
        width: 50%;
    }
    #link-footer {
        color: white;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (min-width: 950px) {
    #formulario{
        flex-direction: column;
        width: 80%;
    }
    #container-titulo{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .container-form{
        flex-direction: row;
        padding: 0 20px;
    }

    #container-links-footer{
        flex-direction: row;
    }

    #partner{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    #partner p{
        color: white;
        font-size: 20px;
    }

}